.panda-image{
    height:4rem;
    width:4rem;
}
.navigation-bar{
    border-bottom:1px solid gray;
}
.icon{
    height:1.8rem;
    width:2.5rem;
    padding: 0;
}
.news-title
{
    height:36rem;
    overflow-y: scroll;
}
.news-description{
    height:36rem;
    overflow-y: scroll;
}
.iframe-news-description{
    width: 41.5rem;
    height: 36rem;
    overflow-y: scroll;
}
.usa-country{
    font-size: 1.5rem;
    font-weight: bold;
    
}
.usa-country:hover{
    color:blue;
}
.li-index{
    color :rgb(173, 18, 18);
    margin-left :0px;
    list-style: square;
}
.news-title-display
{
    border-bottom: 1px solid lightgrey;
    margin-bottom: 0.9rem;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}
.country-name{
    height:36rem;
}