.panda-image{
    height:4rem;
    width:5rem;
    margin-top :0.5rem;
    /* padding-left:0.1rem; */
}
.navigation-bar{
    
    background-color: rgb(8, 8, 8);
    /* position: fixed; */
}
.toggle-button{
    margin-left:6.7rem;
}
.icon{
    height:1.8rem;
    width:2.6rem;
    margin-top:0.3rem;
    /* margin-left :0.5rem;  */
    margin-left:0%;
    
}
.news-title
{
    height:36rem;
    overflow-y: scroll;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(136, 136, 136, 0.75);
}
.news-description{
    height:36rem;
    overflow-y: scroll;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(136, 136, 136, 0.75);
    display: none;
}

.usa-country{
    
    font: 22px/24px Bhaskar_Web_Head_Test_exp, 'Noto Sans';
    font-weight: bold;
    color : rgb(78, 76, 76);
    margin-top:0.5rem;
    text-shadow: 2px 2px 6px #aaa;
   
    
}
.usa-country:hover{
    color:blue;
}

.li-index{
    color :rgb(173, 18, 18);
    list-style: square;
    list-style-position:inside;
    border: 1px solid rgb(219, 135, 9);
    border-bottom: 5px solid rgb(148, 5, 12);
    border-radius: 0.5rem;
    margin-left: -38px;
    margin-top :0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 5px 10px 20px lightgray inset;
}
.read-more
{
    color :rgb(173, 18, 18);
    /* font-size: 1.7rem; */
    font-weight: bold;
    margin-top:0.5rem; 
    margin-bottom:0.3rem;
    font: 26px/30px Bhaskar_Web_Head_Test_exp, 'Noto Sans';
}
.read-more-color{
    color :rgb(173, 18, 18);
    font-weight: bold;
}
.news-title-display
{
    color: black;
    /* font-size: 1.3rem; */
    font-weight: bold;
    font: 22px/30px Bhaskar_Web_Head_Test_exp, 'Noto Sans';
}
.country-name{
    height:36rem;
    overflow-y: scroll;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(136, 136, 136, 0.75);
}
.panda-background{
    background-color: rgb(245, 241, 241);
}


 .tnHead {
    border-top: 5px solid rgb(173, 18, 18);
    position: relative;
    background:rgb(245, 241, 241);
    height: 34px;
    margin-bottom: 10px;
 }

 .tnHead h2 {
    font: 20px/24px Bhaskar_Web_Head_Test_exp, 'Noto Sans';
    position: relative;
    top: -5px;
    display: inline-block;
    padding: 5px 20px;
    background: rgb(173, 18, 18);
    color: #FFF;
}

.country-border{
    border-top: 5px solid rgb(173, 18, 18);
}

.tnHead h2:after {
    position: absolute;
    right: -33px;
    top: 0;
    content: '';
    border-style: solid;
    border-width: 34px 34px 0 0;
}
 .tnHead h2:after {
    border-color: rgb(173, 18, 18) transparent transparent;
}
.publishedAt{
    
    font: 20px/30px Bhaskar_Web_Head_Test_exp, 'Noto Sans';
}
.news-img
{
    height: 30rem;
    width: 39.5rem;
    border:none;
    margin-top : 7px;
}
.desktop-hide
{
    display: none;
    margin-top : 1rem;
}
.mobile-news-title{
    display: block;
}
.mobile-news-description{
    display: none;
}
.dropdown
{
    width : 21.5rem;
    height:2.8rem;
    background-color:rgb(173, 18, 18);
    border-radius: 0.6rem;
    /* border:none; */
    color:white;
    
}
.btn-home{
    border:none;
    border-radius:0.5rem;
    width :11rem;
    height:2.5rem;
    margin-bottom : 0.5rem;
    margin-left :10.5rem;
    font-size :1.3rem;
}

.mobile-view-font{
    font-size : 1.5rem;
}
.mobile-view-description{
    /* font-size:1.1rem; */
    font: 20px/30px Bhaskar_Web_Head_Test_exp, 'Noto Sans';
}
.mobile-view-title{
    /* font-size:1.3rem; */
    color :rgb(173, 18, 18);
    font: 23px/30px Bhaskar_Web_Head_Test_exp, 'Noto Sans';
}
.mobile-title
{
    color :rgb(173, 18, 18);
    font: 21px/23px Bhaskar_Web_Head_Test_exp, 'Noto Sans';
    margin-bottom:5px;
}
.updatedAt{
    font: 21px/23px Bhaskar_Web_Head_Test_exp, 'Noto Sans';
}

@media only screen and (min-width: 320px) and (max-width:374px)
{
    .mobile-hide
    {
        display: none;
    }
    .desktop-hide
    {
        display: block;
    }
    .news-img
    {
        height: 15rem;
        width: 17rem;
        border:none;
        margin-left:0.5rem;
    }
    .panda-background{
        padding-bottom: 28.3rem;
    }
    .dropdown
    {
        width : 18rem;
       
    }  
    .toggle-button{
        margin-left:0px;
    }
    .btn-home{
        
        margin-left :7rem;
        
    }
}


@media only screen and (min-width: 375px) and (max-width:424px)
{
    .mobile-hide
    {
        display: none;
    }
    .desktop-hide
    {
        display: block;
    }
    .news-img
    {
        height: 15rem;
        width: 21rem;
        border:none;
        margin-left:0.2rem;
    }
    .panda-background{
        padding-bottom: 28.3rem;
    }
    .toggle-button{
        margin-left:1rem;
    }
    
}


@media only screen and (min-width: 425px) and (max-width:767px)
{
    .mobile-hide
    {
        display: none;
    }
    .desktop-hide
    {
        display: block;
    }
    .news-img
    {
        height: 16rem;
        width: 24rem;
        margin-left:0.3rem;
    }
    .dropdown
    {
        width : 24.5rem;
        
    }  
    .btn-home{
        margin-left : 20rem;
    }
    .toggle-button{
        margin-left:1.8rem;
    }
    .btn-home{
        
        margin-left :13.5rem;
        
    }
}
 
@media only screen and (min-width: 768px) and (max-width:1023px)
{
    .usa-country{
        font: 16px/24px Bhaskar_Web_Head_Test_exp, 'Noto Sans';
        font-weight: bold;
        color : rgb(78, 76, 76);
        margin-top:0.5rem;
        text-shadow: 2px 2px 6px #aaa;
    }
    .icon{
        height:1.5rem;
        width:2rem;
        margin-top:0.3rem;
        /* margin-left :0.5rem;  */
        margin-left:0%;
    }
    .toggle-button{
        margin-left:3.5rem;
    }
    .news-img
    {
        height: 18rem;
        width: 22rem;
       
    }
    .mobile-view-title{
       
        font: 18px/22px Bhaskar_Web_Head_Test_exp, 'Noto Sans';
    }
    .news-title-display
    {
       
        font: 19px/25px Bhaskar_Web_Head_Test_exp, 'Noto Sans';
    }
    .mobile-view-description{
        
        font: 17px/22px Bhaskar_Web_Head_Test_exp, 'Noto Sans';
    }
    .publishedAt{
        font: 17px/22px Bhaskar_Web_Head_Test_exp, 'Noto Sans';
    }
    
}
@media only screen and (min-width: 1024px) and (max-width:1439px)
{
    .toggle-button{
        margin-left:4.9rem;
    }
}